.container {
  background-color: var(--component-bg-color);
  backdrop-filter: blur(8px);
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.3s;
  border: 1px solid var(--border-color);
}

.container:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.label {
  display: block;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.button {
  width: 10rem;
  height: 6rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  background-color: var(--hover-bg-color);
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonSelected {
  box-shadow: 0 0 0 4px var(--border-color);
  transform: scale(1.05);
}

.button:hover:not(.buttonSelected) {
  box-shadow: 0 0 0 2px var(--border-color);
  transform: scale(1.05);
}

.image {
  padding: 0.5rem;
  transition: transform 0.3s;
  background-color: #FAFAFA;
  border-radius: 0.25rem;
}

.image:hover {
  transform: scale(1.1);
}